.idea/
Crichton.sln.DotSettings.user
Crichton.suo
Crichton.v12.suo
src/*/Debug/*
src/*/bin/Debug/*
src/*/obj/Debug/*
tests/*/bin/Debug/*
tests/*/obj/Debug/*
src/*/bin/*
src/*/obj/*
tests/*/bin/*
tests/*/obj/*
_NCrunch_Crichton/
*.ncrunchsolution
*.ncrunchproject
*.ncrunchsolution.user
samples/*
tools*/bin/*
docs/*.html
tools/*/bin/*
tools/*/obj/*
TestResults/*
